# General
*.env
*.env.*
!*.env.template
!*.env.*.template
.DS_Store
.vscode/
secrets/

# Node.js (Frontend)
frontend/node_modules/
frontend/dist/

# C#/.NET (Backend)
backend/bin/
backend/obj/
*.user
*.suo

# Python (Microservice)
microservice/__pycache__/
microservice/*.py[cod]
microservice/venv/

# Docker
docker-compose.override.yml
docker-compose.prod.yml
.fake